.App {
  width: 600px;
  margin: 0 auto;
  text-align: left;
}

ul {
  list-style: none;
}

ul > li:hover {
  background-color: #f5f5f5;
}

.input {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.checked {
  text-decoration: line-through;
}
